<% if(typeof site.customConfig.notice !== 'undefined'&&site.customConfig.notice){ %>
    <div class="notice-card i-card ">
        <div class="notice-title i-card-title">公告</div>
        <div class="notice-content">
            <%- site.customConfig.notice %>
        </div>
    </div>
    <% } %>