<div class="site-footer">
  <%- themeConfig.footerInfo %> | 
  <a class="rss" href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
  <div>
    <span id="busuanzi_container_site_pv">
      本站总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
  </div>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>