@import './common/index.less';

body {
    display: flex;
    background-color: @body-background;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;

    .main-content {}
}


@import './components/header.less';
@import './components/home.less';
@import './components/footer.less';