<html>

<head>
    <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>

<body>
    <div class="main">
        <%- include('./includes/header') %>
            <%- include('./includes/post-list',{currentTag:`${tag.name}`}) %>
                <%- include('./includes/footer') %>
    </div>
</body>

</html>